@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    text-align: center;
    direction: rtl;
}
.main-box-bob{
    background-image: url('./../public/images/bgb.jpg');
    direction: ltr;
}

